<!--<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>-->

  <body>
    <div class="jumbotron text-center" style="margin-bottom:0; font-family : 'TH Sarabun New'">
      <img src="assets/VP.png">
      <h1>สำนักงานคณะกรรมการอาหารและยา</h1>
      <p style="font-family : Sarabun ">Food and Drug Administration</p>
    </div>

    <nav style="font-family : Sarabun; width:100%" class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <a class="navbar-brand" href="#">หน้าหลัก</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav" style="width:100%">
          <li class="nav-item">
            <a class="nav-link" href="#">ดูข้อมูล</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">จัดการสิทธิ์ผู้ประกอบการ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">จัดการสิทธิ์เจ้าหน้าที่</a>
          </li>
          <li class="nav-item" style="width:60%  ; padding-right:1% ; text-align:right ">
            <a class="nav-link" href="#">Log out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div style="text-align:center">
        <h2 style="font-family:'TH Sarabun New'">แบบขอใหม่</h2>
        <p>Swing by for a cup of coffee, or leave us a message:</p>
      </div>
      <div class="row">
        <div class="column">
          <table>
            <tr>
              <th>เลขทะเบียน</th>
              <th>เลขรับ</th>
              <th>ชื่อยา</th>
              <th>ชื่อผู้รับอนุญาต</th>
              <th>SSSSSS</th>
              <th>DDDD</th>
              <th>SSSSSS</th>
            </tr>
            <tr>
              <td>เลขรับ</td>
              <td>Smith</td>
              <td>50</td>
            </tr>
            <tr>
              <td>ชื่อยา</td>
              <td>Jackson</td>
              <td>94</td>
            </tr>
            <tr>
              <td>ชื่อผู้รับอนุญาต</td>
              <td>Johnson</td>
              <td>67</td>
            </tr>
          </table>
        </div>
        <div class="column">
          <form action="/action_page.php">
            <label for="fname">เลขทะเบียน</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <label for="lname">เลขรับ</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            <label for="country">ชื่อยา</label>
            <select id="country" name="country">
              <option value="australia">Australia</option>
              <option value="canada">Canada</option>
              <option value="usa">USA</option>
            </select>
            <label for="subject">Description</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
            <input type="submit" value="Upload">
          </form>
        </div>
      </div>
    </div>

  </body>
